<head>
  <link rel="stylesheet" href="stylesheets/about.css">
</head>

<style>
  a {
  text-decoration: none;
  color: white;
  }
  
  .social {
    padding-bottom: 15%;
    padding-top: 2%;
    font-size: 30px;
  }
</style>

<div class="container">
  <h2 class="wow fadeInUp">who am i?</h2>
  <p  class="wow fadeInUp"> so, alyxmp4, also known as arceн, i am enthusiast, editor, reqular daryn student and person yk, i am coder and i do code apps for fun, entertainment and for practice</p>
  
  <div class="social  wow fadeInUp">
    <a href="/ig"><i class="fa-brands fa-instagram"></i></a>
    <a href="/tg"><i class="fa-brands fa-telegram"></i></a>
    <a href="/tt"><i class="fa-brands fa-tiktok"></i></a>
  </div>
  
  <h2  class="wow fadeInUp">do i have any projects now?</h2>
  <p  class="wow fadeInUp">yes, you can check out them in <a href="/projects"><u>'projects'</u> <i class="fa-solid fa-arrow-up-right-from-square"></i> </a> page, </p>
  
</div>