<h2 class="wow fadeInUp">got a problem, or questions?</h2>
<p class="wow fadeInUp">you can contact me via my social media or email, feel free to ask or communicate, i hope you will find solution! :)</p>

<div class="wow social fadeInUp">
    <a href="https://t.me/alyxmp4"><i class="fa-brands fa-telegram"></i></a>
    <a href="https://instagram.com/alyxmp4"><i class="fa-brands fa-instagram"></i></a>
    <a href="https://tiktok.com/alyxmp44"><i class="fa-brands fa-tiktok"></i></a>
</div>

<h2 class="wow fadeInUp">or</h2>
<p class="wow fadeInUp">you can write me <a href="mailto:alyxmp4@gmail.com">email <i class="fa-solid fa-at"></i></a></p>

<style>
    .social {
        font-size: 30px;
        color: white;
        text-decoration: none;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    a {
        color: white;
        text-decoration: underline;
    }
</style>