<head>
  <link rel="stylesheet" href="stylesheets/donate.css">
</head>

<div class="action">
<div class="headr main">
<h3 class="wow fadeInUp col">why to donate?</h3>
<p class="wow fadeInUp col">donation as financial support can motivate and help me a lot even if it's not big amount of, it at least shows your love to me and makes me really value everyone of you 💗</p>
<h3 class="wow fadeInUp col">why donates are significant?</h3>
<p class="wow fadeInUp col">financial support is always needed if we're talking about it projects or projects what work for other people for free, because it's really hard to support it without charges because of hosting pricing and etc</p>
</div>
<div class="methods main">
<h3 class="wow fadeInUp">how can i do so?</h3>
<div class="d-grid gap-2 wow fadeInUp">
  <a href="https://paypal.me/angveexs" class="btn btn-primary"><button class="btn btn-primary" type="button"><i class="fa-brands fa-paypal"></i> PayPal</button></a>
  <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cardsModal" type="button"><i class="fa-solid fa-credit-card"></i> Credit card</button>
  <a href="https://qiwi.com/n/ALYYXMP4" class="btn btn-primary"><button class="btn btn-primary" type="button"><i class="fa-solid fa-wallet"></i> QIWI Wallet</button></a>
</div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="cardsModal" tabindex="-1" aria-labelledby="cardsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">credit cards</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert">
          4400 4301 4289 1891 - Kaspi Bank Kazakhstan <i class="fa-solid fa-building-columns"></i>
        </div>
        <div class="alert alert-warning" role="alert">
          4440 7771 8676 4034 - Simply Wallet Kazakhstan <i class="fa-solid fa-money-check-dollar"></i>
        </div>
      </div>
      
      <p>* if you're not from Kazakhstan it may take a fee for transfering money abdroad the country</p>
      <p>** my Kaspi Bank is not available for other Kazakhstan or abroad banks to thansfer money to because of bank limitations</p>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>