<h2 class="wow findInUp">{{msgstatus}}</h2>
<p class="wow findInUp">{{msg}}</p>

<div class="alert alert-primary" role="alert">
  you'll redirected to main page in 10 seconds
</div>

<script>
  window.setTimeout(function(){
        window.location.href = "/";
    }, 10000);
</script>